@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

.hero {
  background: url('images/bar-table-stools-2.jpg') no-repeat bottom center;
  background-size: cover;
  height: auto;
  min-height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.main-heading {
  font-size: 48px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Inconsolata", Courier, serif !important;
}

.main-subheading {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-family: "Inconsolata", Courier, serif !important;
}

.quote {
  max-width: 500px;
  margin: 0 auto;
  line-height: 150%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: "Inconsolata", Courier, serif !important;
}

.nav {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-family: "Inconsolata", Courier, serif !important;
}

.nav.dark-theme a {
  color: #000;
}

.nav.dark-theme a:hover {
  background: #000;
  color: #fff;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 10px;
  color :#fff;
  text-decoration: none;
}

.nav a:hover {
  background: #fff;
  color: #000;
}

.showcase {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
}

.showcase-heading {
  text-align: left;
}